# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: xboot-ci-test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  test:
    name: Test with Coverage
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go env
      uses: actions/setup-go@v4
      with:
        go-version: '1.22.2'
      id: xboot 

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3
      
    - name: Install dependencies
      run: go mod download

    - name: Unit Test
      run: go test -covermode atomic -coverprofile=./cover.out -v ./... 

    - uses: codecov/codecov-action@v4
      with:
        fail_ci_if_error: true
        files: ./cover.out
        name: codecov-umbrella
        verbose: false
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
